@font-face {
    font-family: 'Ansungtangmyun-ESG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-ESG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SangSangRock';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    height: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1.0)),
        url(../favi/background.jpg);
	/* background-image: url(../favi/background.jpg); */
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
    min-height: 27vh;
}

.head-text {
    margin: 30px 0 20px 0;
    font-size: clamp(30px, 5vw, 120px);
    text-align: center;
	font-family: 'Ansungtangmyun-ESG', sans-serif;
}

.navigation {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    gap: clamp(20px, 4vw, 200px);  /* 메뉴 항목 사이의 간격 */
    margin-top: 20px;
	width: 100%;
	max-width: 1200px;
	font-family: 'Shilla_CultureB-Bold', sans-serif;
}

.nav-item {
    font-size: clamp(16px, 2.5vw, 30px);
    color: coral;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
	white-space: nowrap;
}

.nav-item:hover {
    color: #ff5733;  /* 마우스 오버시 색상 변경 */
}

.page-content {
	font-size: 50px;
	text-align: center;
	font-family: 'SangSangRock', sans-serif;
}

.squares-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.shape {
	width: 300px;
	height: 300px;
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
	margin: 10px;
	cursor: pointer;
	position: relative;
}

.shape:hover {
	transform: scale(1.2);
	z-index: 1;
}

.rounded-square {
	background-image: url('/api/placeholder/300/300');
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	background-image: url(../favi/gyeongju.jpeg);
}

.shape-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	color: white;
	padding: 10px;
	text-align: center;
	font-family: 'Shilla_CultureB-Bold', sans-serif;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}